#hero {
    width: 100%;
    height: 10vh;
    background-color: white;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#whyUs {
    width: 40%;
    display: flex;
    color:black;
    align-items: center;
    justify-content: center;
}

#callToAction {
    width: 60%; 
    display: flex;
    color:black;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    #whyUs, #callToAction {
        width: 100%;
        float: none;
    }
}
