:root{
    --primary-color:rgb(221, 221, 253);
}
a{
    font-size: 30px;
}
a:link{
    text-decoration: none;
}
a:visited{

}
a:hover{
    text-decoration: underline;
}
a:focus{
    text-decoration: underline;
}
a:active{

}
header{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100px;
    background-color: rgb(36, 106, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
header nav{
    display: flex;
    align-items: center;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
header li{
    margin: 20px;
}

body {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
}
main h1 { 
    font-size: 40px;
    margin: 20px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px; /* Account for the header */
    margin-bottom: 50px; /* Space for the footer */
    gap: 20px; /* Space between sections */
    background-color: var(--primary-color);
}


footer{
    position:fixed;
    bottom: 0px;
    width: 100vw;
    background-color: rgb(36, 106, 255);
    height: 80px;
}

#copyright {
    position: absolute;
    bottom: 35px;
    right: 35px;
    font-size: 10px;
}
.mobileFeature > #Menu{
    background-color: White;
    border: none;
    padding: 10px 20px;
    color: black;
    font-size: 1em;
    cursor: pointer;
}
@media  (max-width: 641px) {

    .disappearing {
        display: none; 
    }

    .mobileFeature {
        display: flex; 
    }
}

@media (min-width: 640px) {
    .disappearing {
        display: flex; 
    }

    .mobileFeature {
        display: none; 
    }
}