
li{
    position: relative;
    margin-top: 10px;
}
#playersCards, #dealersCards, #playersActions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#playersCards h2, #dealersCards h2, h3{
    font-size: 25px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

main {
    display: flex;
}
ol li:hover::after {
    content: attr(data-blackjack-value);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}

button:hover::after {
    content: attr(data-user-hints);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkblue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}

button {
    position: relative;
    background-color: rgb(0, 35, 100);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darken(var(--primary-color), 10%);
}
